.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.mainApp {
  padding-top: 50px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.left {
  float: left;
  height: 60vh;
  width: 30%;
}
.left textarea {
  width:100%;
  height:100%;
}

.right {
  float: left;
  height: 60vh;
  width: 50%;
  text-align: left;
}
.right .w50{
  width:50%;
  float:left;
  text-align: left;
}
.right .w50 ul {
  list-style: none;
}

.close {
  margin-right: 10px;
  cursor:pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
